<h2>Hello and welcome to short.ly!</h2>
<p>
  This project transforms URL's and sets a 24 expiration on them. The date is now: <%= Time.now.strftime("%m/%d/%Y") %>!
<p>
<ul>  
    <li> # Routes </li>
    <li> POST http://localhost:3000/api/v1/url/shortener </li>
    <li> GET http://localhost:3000/api/v1/url/index </li>
    <li> GET http://localhost:3000/api/v1/url/lengthener </li>
</ul>
<ul> 
  <li># JSON format excepted: POST http://localhost:3000/api/v1/url/shortener </li>
  <li>This application is a mock URL shortener in which URL's are added and a unique short.ly fake address is returned in the form of "short.ly/#{number}". The URL and fake address will "expire" in 24 hours.</li>
  <li>
    {
      "address":"www.test789.com"
    }
  </li>
</ul>
<ul>
  <li> # JSON format expected: GET http://localhost:3000/api/v1/url/lengthener  </li>
  <li>Only the shortened URL is needed: </li>
    
    <li>
    {
        "shortened":"short.ly/18"
    }
  </li>
</ul>
<ul>
  <li> # JSON format excepted: GET http://localhost:3000/api/v1/url/index   </li>
  <li>  No params are needed here, the index will return all addresses and their data   </li>
</ul>

<%= form_with url: api_v1_url_shortener_path, class: "nifty_form" do |f| %>
  <%= f.text_field :address %>
  <%= f.submit "Get short.ly" %>
<% end %>

<%= form_with url: api_v1_url_lengthener_path, method: :get, class: "nifty_form" do |f| %>
  <%= f.text_field :shortened %>
  <%= f.submit "Get orginal url" %>
<% end %>

